#content {
     margin-left: 20px;
}
body {
  background-color:#cffdff;
}
#div1 {
  width: 506px;
  height: 398px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
#div2 {
  width: 506px;
  height: 398px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}   
#div3 {
  width: 506px;
  height: 398px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}   
#div4 {
  width: 506px;
  height: 398px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}    
#div5 {
  width: 506px;
  height: 398px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}    
#div6 {
  width: 506px;
  height: 398px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}  
